<div id="spree-header">

  <header id="header" data-hook>
    <div class="container">
         <ul id="nav-bar" class="nav navbar-nav navbar-left col-md-4" data-hook>
             <li id="logo"><h5>Detox Water</h5></li>
        </ul>
        <%= render :partial => 'spree/shared/nav_bar' %>
    </div>
  </header>

</div>